.body-content {
    padding: 0 6rem 6rem 6rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    color: #dad9d9;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1300px) {
        padding: 6rem 2rem 0 2rem;
      }

    @media screen and (max-width: 1000px) {
        padding: 6rem 0 0 0;
      }

      @media screen and (max-width: 700px) {
        padding: 0;
      }

    .p-article {
        margin-top: 1rem;
    }

    .article-h2 {
        margin-top: 3rem;
        color: $orange;

        @media screen and (max-width: 700px) {
            font-size: 1.2rem;
          }
    }

    .illustration-article {
      width: 60%;
      height: 30%;
      object-fit: cover;
      border-radius: 8px;
      transition: 0.3s;
      margin: 2rem auto;
    }

    .video-embed {
      margin: 2rem auto;
      width: 80%;
      height: 400px;
    }

    .ul-article {
        font-style: italic;

        .bullet-point {
            // list-style-type: circle;
            list-style: none;

            &::before {
                content: "•";
                color: $orange;
                margin-right: .5rem;
            }
        }
    }

    .href-article {
      color: #dad9d9;

      &:visited {
        color: #dad9d9;
      }
    }
}