footer {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    height: 300px;
    align-items: start;
    background: $accent-black;
    padding: 20rem 0;

    @media screen and (max-width: 1000px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding: 0;
      }

      @media screen and (max-width: 414px) {
        padding: 10rem 0;
    }

      img {
        cursor: pointer;
      }
    

    .logo {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 700px) {
            align-items: center;
            padding: 0 5rem;
          }

        @media screen and (max-width: 414px) {
            padding: 0 1rem;
        }

    span {
        margin-bottom: 1rem;
        font-size: .6rem;
        }

        p {
            font-size: .8rem;
            font-weight: 100;

            @media screen and (max-width: 700px) {
                text-align: center;
              }
        }
    }

    .footer-menu {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 1000px) {
            justify-content: start;
          }

        @media screen and (max-width: 700px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 5rem 5rem;
            align-items: center;
            text-align: center;
          }

          @media screen and (max-width: 414px) {
            padding: 2rem 1rem;
        }

        

          

        ul {
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: .5rem;
            margin: 0 2rem;

            @media screen and (max-width: 1000px) {
                margin: 0 2rem 0 0;
              }

              @media screen and (max-width: 414px) {
                font-size: .8rem;
                margin: 0;
            }
            
    
            li {
                cursor: pointer;
    
                a {
                    color: #fff;

                    &:hover {
                        color: #FD6B3D;
                    }
                }
            }
    
        }
    
    }


    .cta {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            display: none;
          }
    }
}