footer {
  width: 100%;
  padding:30px 0px;
  text-align:center;

  .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: #99C3FF;
    font-size:0.8em;

      a{
        text-decoration:none;
        color: #99C3FF;
        transition:0.5s;

          &:hover {
            color: #1776ff;
          }
        }

      ul {
        width: 100%;

        li {
          display:inline-block;
          margin:0px 30px;

          img {
            width: 24px;
            height: 24px;
            cursor: pointer;
            margin:0% 1%;
            width: 24px;
            height: 24px;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

}