.header-job {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    border-radius: 20px;
    // border: 1px solid transparent;
    // border: 1px solid #7e7ebba9;
    background: #3f3f6242;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;

    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .info {
        display: flex;
        flex-direction: column;

        .localisation {
            display: flex;
            align-items: center;
            column-gap: .5rem;

            img {
                width: 16px;
            }
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .job-type {
            padding: 0.75rem 1.2rem;
            max-width: max-content;
            border-radius: 8px;
            margin-bottom: 1rem;
          }

          .cdi {
              background: rgb(138, 241, 198);
              color: rgb(9, 207, 125);
          }

          .freelance {
              background: rgb(241, 214, 138);
              color: rgb(179, 134, 12);
          }

          .cdi-prestation {
              background: rgb(241, 138, 190);
              color: rgb(223, 13, 118);
          }

        @media screen and (max-width: 900px) {
            margin-top: 1rem;
        }
    }

    
}