.card-job {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 340px;
    height: 100%;
    cursor: pointer;
    padding: 1rem 1rem;
    border-radius: 20px;
    border: 1px solid #99c3ff11;
    background: #171717;
    animation: fade linear;
    animation-timeline: view();
    transition: all .8s ease;

    &:hover {
        border: 1px solid #99c3ff93;
    }

    .job-type {
        padding: 0.75rem 1.2rem;
        max-width: max-content;
        border-radius: 8px;
        margin-bottom: 1rem;
        }

        .cdi {
            background: #1c3329;
            color: #8dffcd;
        }

        .freelance {
            background: rgb(241, 214, 138);
            color: rgb(179, 134, 12);
        }

        .cdi-prestation {
            background: rgb(241, 138, 190);
            color: rgb(223, 13, 118);
        }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: #fff;
    }

    p {
        color: #fff;
    }

    .infos {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;

        .info {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: .8rem !important;
            
    

                p {
                    font-size: .8rem;
                    text-align: center;
                    color: #adadad;

                    @media screen and (max-width: 1300px) {
                        font-size: .8rem;
                    }

                    @media screen and (max-width: 414px) {
                        font-size: .6rem;
                    }
                }
        }
    }

    @media screen and (max-width: 1300px) {

        p {
            font-size: .8rem;
            color: #fff;
        }
            
    }

    .cta {
        display: flex;
        gap: 1rem;
    }

    button {
        font-size: .8rem;
    }

}

@keyframes fade {
    from {
        opacity: 0
    } to {
        opacity: 1;
    }
    0% {
        opacity: 0;
    } 
    50% {
        opacity: 1;
        transform: translate();
    } 
    100% {
        transform: translate();
    }
    
}