.legal {
    padding: 2rem 0;

    p {
        margin-bottom: 1rem;
    }

    ul {
        margin-bottom: 1rem;
    }

    a {
        color: $orange;

        &:hover {
            color: #fff;
        }
    }
}