.wrapper-padding {
    padding: 0 10rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: $accent-black;
    

    .navigation {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        height: auto;
        padding: 20px;
        align-items: center;
        

        .logo {
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                cursor: pointer;
            }

        }



        .cta {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }
    }
}