.wrapper-padding {
    padding: 10px 10rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    .navigation {
        background: rgba(0,0,0,.3);
        display: grid;
        grid-template-columns: 25% 50% 25%;
        height: auto;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        backdrop-filter: blur(15px);

        .logo {
            cursor: pointer;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                cursor: pointer;
            }
        }

        .cta {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
        }
    }
}