.navigation {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        height: auto;
        padding: 20px 14rem;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        background: $accent-black;
        z-index: 999;

        a {
            font-family: $regular;
            font-size: .8rem;
            color: #fff;
            transition: .2s;
        
            &:hover {
                background: #3F3F62;
                padding: .5rem 1rem;
                border-radius: 20px;
                color: #FD6B3D;
                transform: scale(1.1);
            }
        }

        

        @media screen and (max-width: 1300px) {
            padding: .5rem 7rem;
          }

          @media screen and (max-width: 950px) {
            padding: 1rem 5rem;
        }

        @media screen and (max-width: 850px) {
            padding: 1rem 2rem;
        }
        
        @media screen and (max-width: 414px) {
            padding: 1rem 1rem;
        }

        .logo {
            cursor: pointer;
        }

        .menu-responsive {
            display: flex;
    
            ul {
                position: fixed;
                left: -100%;
                top: 10%;
                flex-direction: column;
                background: $accent-black;
                width: 100%;
                text-align: center;
                transition: .25s;
    
                li {
                    padding: 4px 0;
                    cursor: pointer;

                    a:hover {
                        color: $orange;
                        transform: scale(1.1);
                    }
    
                }
            }
    
            @media screen and (max-width: 750px) {
                display: block;
            }
        }
    
        .active {
    
            ul {
                left: 0;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 750px) {
                position: fixed;
                left: -100%;
                top: 10%;
                flex-direction: column;
                background: $accent-black;
                width: 100%;
                text-align: center;
                transition: .25s;
            }

            li {
                cursor: pointer;

                @media (max-width: 750px) {
                    padding: 5px 0;

            }
        }

        }

        .open {
            left: 0;
            border: none;
            min-height: 100vh;
            justify-content: flex-start;
            padding-top: 2rem;
        }

        .selected {
            background: #3F3F62;
            padding: .5rem 1rem;
            border-radius: 20px;
            color: #FD6B3D;
        }

        .cta {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;

            @media (max-width: 750px) {
                display: none;
            }
        }

        .burger-menu {
            cursor: pointer;
            display: none;

            &::before {
                content: "\2630";
                font-size: 1.5rem;
            }

            @media screen and (max-width: 750px) {
                        display: inline-block;
                        text-align: right;
                    }
        }

        .active {

            &::before {
                content:'\2613';
                font-size: 1.5rem;
            }

        }

    }


.active {
    background: #1E1E30;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    // box-shadow: rgba(253, 253, 253, 0.05) 0px 1px 0px 0px;
}