.header-profil {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    border-radius: 20px;
    // border: 1px solid transparent;
    // border: 1px solid #7e7ebba9;
    background: #3f3f6242;
    align-items: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    

    .pp {
        max-width: 120px;

        @media screen and (max-width: 1300px) {
            max-width: 100px;
          }
    }

    .content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: max-content;
        }

        .content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: start;
            margin-bottom: 1rem;

            @media screen and (max-width: 700px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: max-content;
            }

            .btn-contact {
                border: none;
                background: $primary;
                padding: 1rem;
                border-radius: 8px;
                color: #fff;
                font-size: .8rem;
                font-family: $regular;
                cursor: pointer;
                padding: 0.75rem 1.2rem;
                transition: all .8s ease;
                border: 1px solid $primary;

                @media screen and (max-width: 700px) {
                    margin-top: 1rem;
                }
            
                @media screen and (max-width: 1300px) {
                    font-size: .8rem;
                  }
            
                  @media screen and (max-width: 414px) {
                    font-size: .6rem;
                }
            
                &:hover {
                    border: 1px solid $primary;
                    color: $primary;
                    background: transparent;
                }
            }
        }

        .other-info {
            display: flex;
            gap: 2rem;
            justify-content: space-between;
            align-items: center;
            text-align: left;

            @media screen and (max-width: 700px) {
                flex-wrap: wrap;
                height: max-content;
            }

            .info {
                width: 100%;
                background: #3F3F62;
                padding: .5rem 1rem;
                border-radius: 8px;

                .title {
                    color: #FD6B3D;
                }

                .container-statut {
                    margin-top: .5rem;
                    display: flex;
    
                    .pastille {
                        width: 15px;
                        height: 15px;
                        background: #2ED47A;
                        border-radius: 50%;
                        margin-right: .5rem;
                    }

                    .red {
                        background: $color-stop !important;
                    }
    
                }

            }

            
        }
    }

    
}