.profil-content-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    width: calc(100% - 2rem);

    @media screen and (max-width: 850px) {
        display: flex;
    }

    @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .title-section {
        color: $primary;
        margin-bottom: 2rem;
    }

    .infos { 
        grid-area: 1 / 1 / 2 / 2;
        background-color: #3f3f6242;
        height: max-content;
        padding: 2rem 2rem;
        border-radius: 20px;

        .requirement {
            margin-bottom: 4rem;

            h3 {
                margin-bottom: 1rem;
            }

            li {
                margin-bottom: .5rem;
            }
        }

        .domain-skill {
            margin-bottom: 4rem;

            h3 {
                margin-bottom: 1rem;
            }

            .skills-labels {
                display: flex;
                flex-wrap: wrap;
                gap: .5rem;
            }
        }

        .reference {
            margin-bottom: 4rem;
            
            .title {
                display: flex;
                align-items: center;
                margin-bottom: .5rem;
                gap: .5rem;
                width: max-content;
                color: #fff;
            }
        }

     }

    .description {
        grid-area: 1 / 2 / 2 / 3;
        height: max-content;
        padding: 2rem 2rem;
        border-radius: 20px;
        background-color: #3f3f6242;

        .job-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4rem;

            h3 {
                margin-bottom: 1rem;
            }

            li {
                margin-bottom: .5rem;
            }

        }

        button {
            border: none;
            background: $primary;
            padding: 1rem;
            border-radius: 8px;
            color: #fff;
            font-size: .8rem;
            font-family: $regular;
            cursor: pointer;
            padding: 0.75rem 1.2rem;
            transition: all .8s ease;
            border: 1px solid $primary;
        
            @media screen and (max-width: 1300px) {
                font-size: .8rem;
              }
        
              @media screen and (max-width: 414px) {
                font-size: .6rem;
            }
        
            &:hover {
                border: 1px solid $primary;
                color: $primary;
                background: transparent;
            }
        }
    }
     

    .experience { 
        grid-area: 1 / 2 / 2 / 3;
        height: max-content;
        padding: 2rem 2rem;
        border-radius: 20px;
        background-color: #3f3f6242;

        .dates {
            display: flex;
            gap: .5rem;

            .date {
                display: flex;
                align-items: center;
                margin: .5rem 0;

                .picto {
                    width: 12px;
                    margin-right: .5rem;
                }

            }
            
        }

        

        .techno {
            display: flex;
            gap: .5rem;
            margin-top: 1rem;
        }

        .separator {
            width: 100%;
            margin: 2rem auto;
            border-top: .5px solid #575765;
            border-radius: 50%;
        }

     }
}