.secondaryBtn {
    background: none;
    color: #fff;
    font-size: .8rem;
    font-family: $regular;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
        font-size: .8rem;
    }

    @media screen and (max-width: 414px) {
        font-size: .6rem;
    }

    &:hover {
        color: $primary;
        font-weight: bold;
    }
}