$accent-black: #1E1E30;
$black-contrast: #1f1f32;
$gray: #575765;
$gray-card: #413f4e;
$primary: #1776FF;
$dark-blue: #334D6E;
$color-cancel: #FFB946;
$color-cancel-2: #ffb84652;
$color-confirm: #2ED47A;
$color-confirm-2: #2ed4794d;
$color-stop: #F7685B;
$color-stop-2: #f7685b57;
$important: #FD6B3D;

@font-face {
    font-family: "poppins-sm";
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "poppins-b";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins-m";
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "poppins-l";
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/Poppins-Regular.ttf);
}

$semibold: "poppins-sm", sans-serif;
$bold: "poppins-b", sans-serif;
$medium: "poppins-m", sans-serif;
$light: "poppins-l", sans-serif;
$regular: "regular", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    font-family: $regular;
    font-size: .8rem;
    color: #fff;
}
  
body {
    font-family: $regular;
    font-size: .8rem;
    color: #fff;
    background-color: $accent-black;
    padding: 0 14rem;

    @media screen and (max-width: 1300px) {
        padding: 0 7rem;
      }

    @media screen and (max-width: 950px) {
        padding: 0 5rem;
      }

    @media screen and (max-width: 850px) {
        padding: 0 2rem;
    }

    // &::-webkit-scrollbar {
    //  display: none;
    // }
}

.btn-blue {
        background: $primary;
        padding: 1rem;
        border-radius: 8px;
        color: #fff;
        font-size: .8rem;
        font-family: $regular;
        cursor: pointer;
        padding: 0.75rem 1.2rem;
        transition: all .8s ease;
        border: 1px solid $primary;
        align-items: end;
    
        @media screen and (max-width: 1300px) {
            font-size: .8rem;
          }
    
          @media screen and (max-width: 414px) {
            font-size: .6rem;
        }
    
        &:hover {
            border: 1px solid $primary;
            color: $primary;
            background: transparent;
        }
}

.section-container-header {
    background: $accent-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12rem 0 2rem;

    @media screen and (max-width: 1300px) {
        padding-top: 10rem;
        padding-bottom: 0rem;
      }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;

        h2 {
            font-size: 1.8rem;
            text-align: center;

            @media screen and (max-width: 1300px) {
                font-size: 1.5rem;
              }

              @media screen and (max-width: 414px) {
                font-size: 1.2rem;
            }
        }

        p {
            font-size: 1rem;
            text-align: center;
            padding: 0 15rem;
    
            @media screen and (max-width: 1300px) {
                font-size: 1rem;
                padding: 0 10rem;
              }
              
              @media screen and (max-width: 414px) {
                font-size: .8rem;
                padding: 0;
            }
        }

    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;


        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
          }

        @media screen and (max-width: 740px) {
            grid-template-columns: repeat(1, 1fr);
          }

        .card {
            background: #3f3f6242;
            // border: 1px solid #7e7ebba9;
            border-radius: 20px;
            padding: 2rem 1rem;
            width: 340px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            &:hover {
                background: transparent;
            }

            h3 {
                font-size: 1.2rem;
                text-align: left;

            @media screen and (max-width: 1300px) {
                font-size: 1rem;
              }
            }

            p {
                font-size: 1rem;
                text-align: left;
        
                @media screen and (max-width: 1300px) {
                    font-size: .8rem;
                  }
            }
        }
        
    }

    .articles-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media screen and (max-width: 740px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .article-preview {
            border-radius: 20px;
            padding: 1rem 1rem;
            width: 350px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            border: 1px solid transparent;

            &:hover {
                background: #3f3f6242;
            }

            h3 {
                font-size: 1rem;
                text-align: left;

            @media screen and (max-width: 1300px) {
                font-size: 1rem;
              }
            }

            p {
                font-size: .8rem;
                text-align: left;
        
                @media screen and (max-width: 1300px) {
                    font-size: .8rem;
                  }
            }

            .category {
                background: #3F3F62;
                padding: .5rem 1rem;
                border-radius: 20px;
                color: #FD6B3D;
                max-width: fit-content;

                p {
                    font-size: 1rem;
            
                    @media screen and (max-width: 1300px) {
                        font-size: .8rem;
                      }
                }
            }

            .preview-article-img {
                border-radius: 20px;
            }
        }
        
    }

}

.section-container {
    background: $accent-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem 0 2rem;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;

        h2 {
            font-size: 1.8rem;
            text-align: center;

            @media screen and (max-width: 1300px) {
                font-size: 1.5rem;
              }

              @media screen and (max-width: 414px) {
                font-size: 1.2rem;
            }
        }

        p {
            font-size: 1rem;
            text-align: center;
            padding: 0 15rem;
    
            @media screen and (max-width: 1300px) {
                font-size: 1rem;
                padding: 0 10rem;
              }
              
              @media screen and (max-width: 414px) {
                font-size: .8rem;
                padding: 0;
            }
        }

    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;


        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
          }

        @media screen and (max-width: 740px) {
            grid-template-columns: repeat(1, 1fr);
          }

        .card {
            background: #3f3f6242;
            // border: 1px solid #7e7ebba9;
            border-radius: 20px;
            padding: 2rem 1rem;
            width: 340px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            &:hover {
                background: transparent;
            }

            h3 {
                font-size: 1.2rem;
                text-align: left;

            @media screen and (max-width: 1300px) {
                font-size: 1rem;
              }
            }

            p {
                font-size: 1rem;
                text-align: left;
        
                @media screen and (max-width: 1300px) {
                    font-size: .8rem;
                  }
            }
        }
        
    }

    .articles-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media screen and (max-width: 740px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .article-preview {
            border-radius: 20px;
            padding: 1rem 1rem;
            width: 350px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            border: 1px solid transparent;

            &:hover {
                background: #3f3f6242;
            }

            h3 {
                font-size: 1rem;
                text-align: left;

            @media screen and (max-width: 1300px) {
                font-size: 1rem;
              }
            }

            p {
                font-size: .8rem;
                text-align: left;
        
                @media screen and (max-width: 1300px) {
                    font-size: .8rem;
                  }
            }

            .category {
                background: #3F3F62;
                padding: .5rem 1rem;
                border-radius: 20px;
                color: #FD6B3D;
                max-width: fit-content;

                p {
                    font-size: 1rem;
            
                    @media screen and (max-width: 1300px) {
                        font-size: .8rem;
                      }
                }
            }

            .preview-article-img {
                border-radius: 20px;
            }
        }
        
    }
}

.label {
    background: #3F3F62;
    padding: .5rem 1rem;
    border-radius: 20px;
    color: #FD6B3D;
    

    p {
        font-size: 1rem;
        text-align: center;

        @media screen and (max-width: 1300px) {
            font-size: .8rem;
          }

          @media screen and (max-width: 414px) {
            font-size: .6rem;
        }
    }
}

p::selection, h1::selection, h2::selection, span::selection {
        background: #FD6B3D;
}

.important {
    color: $important;
}

.cta-secondary {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    transition: all .4s ease;
    border-radius: 0.4rem;
    border: 1px solid #fff;

    &:hover {
        background: #fff;
        color: #161627;
    }
}