@font-face {
  font-family: "poppins-sm";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-b";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-m";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-l";
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: "regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "regular", sans-serif;
  font-size: 0.8rem;
  color: #fff;
  background-color: #1E1E30;
  padding: 0 15rem;
}
@media screen and (max-width: 1300px) {
  body {
    padding: 0 7rem;
  }
}
body::-webkit-scrollbar {
  display: none;
}

p::-moz-selection, h1::-moz-selection, h2::-moz-selection, span::-moz-selection {
  background: #FD6B3D;
}

p::selection, h1::selection, h2::selection, span::selection {
  background: #FD6B3D;
}

.important {
  color: #FD6B3D;
}

.cta-secondary {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 0.4rem;
  border: 1px solid #fff;
}
.cta-secondary:hover {
  background: #fff;
  color: #161627;
}

.navigation {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  height: auto;
  padding: 20px 14rem;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #1E1E30;
  z-index: 999;
}
@media screen and (max-width: 1300px) {
  .navigation {
    padding: 0.5rem 7rem;
  }
}
.navigation .logo {
  cursor: pointer;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li {
  cursor: pointer;
}
.navigation .cta {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.active {
  background: #1E1E30;
  opacity: 0.9;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 12rem 15rem 2rem;
}
@media screen and (max-width: 1300px) {
  .main-header {
    padding: 6rem 0 2rem;
  }
}
.main-header h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 4rem 0 1rem;
}
@media screen and (max-width: 1300px) {
  .main-header h1 {
    font-size: 2rem;
  }
}
.main-header p {
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .main-header p {
    font-size: 1rem;
  }
}
.main-header .label {
  background: #3F3F62;
  padding: 0.5rem 0.7rem;
  border-radius: 20px;
  color: #FD6B3D;
}
.main-header .label p {
  font-size: 1rem;
}
@media screen and (max-width: 1300px) {
  .main-header .label p {
    font-size: 0.8rem;
  }
}

.primaryBtn {
  border: none;
  background: #1776FF;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-family: "regular", sans-serif;
  cursor: pointer;
  padding: 0.75rem 1.2rem;
  transition: all 0.8s ease;
  margin: 2rem 0 1rem;
  border: 1px solid #1776FF;
}
@media screen and (max-width: 1300px) {
  .primaryBtn {
    font-size: 0.8rem;
  }
}
.primaryBtn:hover {
  border: 1px solid #1776FF;
  color: #1776FF;
  background: transparent;
}

.secondaryBtn {
  background: none;
  color: #fff;
  font-size: 1rem;
  font-family: "regular", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .secondaryBtn {
    font-size: 0.8rem;
  }
}
.secondaryBtn:hover {
  color: #1776FF;
  font-weight: bold;
}

.infinite-scroll {
  display: flex;
  min-width: 100%;
  margin-top: 10rem;
}
.infinite-scroll .tag-list {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}
.infinite-scroll .loop-slider .inner {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
.infinite-scroll .loop-slider .inner:hover {
  animation: paused;
}
.infinite-scroll .tag {
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #3F3F62;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.infinite-scroll .tag:hover {
  background: transparent;
}
.infinite-scroll .tag p {
  font-size: 1rem;
  color: #FD6B3D;
}
.infinite-scroll .fade {
  pointer-events: none;
  background: linear-gradient(90deg, #1E1E30, transparent 50%, transparent 50%, #1E1E30);
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=index.css.map */